*{
  box-sizing: border-box;
}
body{
  margin:0;
  background: black;
}
nav{
  background: #2E2D2A;
  overflow: auto;
}
ul{
  margin: 0;
  padding: 0;
  list-style:none;
}
li{
  float: right;
}
nav a{
  width: 100%;
  display: block;
  text-decoration: none;
  text-align: center;
  background: #2E2D2A;
  font-size: 23px;
  color:white;
  padding: 20px 20px;
  font-family: Taylor Gothic;
  display: block;
}
nav a:hover{
  background: #484743;
  color: black;
}
.container{
  max-width: 1200px;
  margin:auto;
  background:black;
  overflow: auto;
}
.gallery{
  margin:5px;
  border:1px solid black;
  float:left;
  width: 390px;
}
.gallery img{
  width: 100%;
  height: auto;
}
.desc{
  padding: 15px;
  text-align:center;
  color:white;
  font-family: Felix Titling;
}
.gallery:hover{
  border:1px solid #FF5C13;
}
.paragraf{
  color: white;
  font-family: Felix Titling;
  float: right;
  margin-top: 300px;
  margin-right: 40px;
  letter-spacing: 1px;
  font-size: 15px;
}
.billedeafmig{
  margin-right: 100px;
  margin-top: 110px;
  padding-left: 100px;
}
.logos{
  margin-left: 1000px;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #2E2D2A;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}


input[type=submit] {
  background-color: #2E2D2A;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Felix titling;
}


input[type=submit]:hover {
  background-color: #FF5C13;
}

.contact {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  color: white;
  font-family: Felix titling;
}
.headline{
  color: white;
  font-family: Felix Titling;
  padding-left: 580px;
}
.headline1{
  color:white;
  font-family: Felix titling;
  Padding-left: 720px;
}
footer{
  margin-top: 100px;
  bottom: 0px;
  padding: 10px;
  font-size: 17px;
  text-align: left;
  background: #2E2D2A;
  color:white;
  font-family: Felix Titling;
  letter-spacing: 1px;
}
